
  <div class="payment-container">
    <!-- <h2>Payment Time Left</h2>
    <div class="timer">9:57</div> -->
    <div class="amount">
        <h3>Transfer Amount</h3>
        <p>Rs. {{ amount }}/-</p>
        <div>
            <img [src]="'data:image/png;base64,' + qrCodeImage" alt="QR Code" />
        </div>
        <p>Receipt: {{ receiptNumber }}</p>
    </div>

    <div class="actions">
        <button (click)="showTransactionField = true; showUpiField = false">Enter Transaction Number</button>
        <button (click)="showUpiField = true; showTransactionField = false">Enter UPI ID</button>
        
        <div *ngIf="showTransactionField">
            <input type="text" id="transactionNumber" [(ngModel)]="transactionNumber" placeholder="Enter Transaction Number" required />  
        </div>
        <div *ngIf="showUpiField">
            <input type="text" id="upiId" [(ngModel)]="upiId" placeholder="Enter UPI ID" required />
        </div>
    </div>

    <div class="actions">
      <button (click)="enterTransactionId()">Submit</button>
    </div>

    <footer>
        <p>100% Secure Payments</p>
    </footer>
</div>