.transaction-list {
    padding: 16px;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
  }
  
  .mat-paginator {
    margin-top: 16px;
  }